@page
@model RemSolution.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password reset";
    Layout = "~/Areas/Identity/Pages/Account/_AuthLayout.cshtml";
}

<p class="auth-subtitle">Password reset complete</p>

<p class="auth-message">Your password has been reset. You can now sign in with your new password.</p>

<div class="auth-links">
    <a asp-page="./Login">Go to sign in</a>
</div>
