<div class="agency-card mat-elevation-z4">
  <div class="header-row">
    <h2 class="title">Clients (read-only)</h2>
    <a mat-button [routerLink]="['/agency', agencyId]">
      <mat-icon>arrow_back</mat-icon> Back to agency
    </a>
  </div>

  <table mat-table [dataSource]="clients" class="mat-elevation-z2 full-width">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let client">{{ client.lastName }}, {{ client.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Birth Date</th>
      <td mat-cell *matCellDef="let client">{{ client.birthDate | date:'yyyy-MM-dd' }}</td>
    </ng-container>
    <ng-container matColumnDef="cin">
      <th mat-header-cell *matHeaderCellDef>CIN</th>
      <td mat-cell *matCellDef="let client">{{ client.cin }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell empty-row" [attr.colspan]="displayedColumns.length">No clients found.</td>
    </tr>
  </table>

  <mat-paginator [length]="totalCount"
                 [pageIndex]="pageNumber - 1"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 50]"
                 (page)="onPage($event)">
  </mat-paginator>
</div>
