<header>
  <mat-toolbar color="primary" class="nav-toolbar">
    <a class="nav-brand" [routerLink]="['/']">RemSolution.Web</a>

    <span class="nav-spacer"></span>

    <button mat-icon-button
            class="nav-toggler"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <nav class="nav-links" [class.expanded]="isExpanded" *ngIf="isAuthenticated">
      <a mat-button
         [routerLink]="['/']"
         [routerLinkActive]="['link-active']"
         [routerLinkActiveOptions]="{ exact: true }"
         (click)="collapse()">Home</a>
      <!-- Brands and models are reference data of the Cars module. -->
      <a mat-button
         *ngIf="canAccessCars"
         [routerLink]="['/brand']"
         [routerLinkActive]="['link-active']"
         (click)="collapse()">Car Brands</a>
      <a mat-button
         *ngIf="canAccessCars"
         [routerLink]="['/model-car']"
         [routerLinkActive]="['link-active']"
         (click)="collapse()">Car Models</a>
      <a mat-button
         *ngIf="canAccessCars"
         [routerLink]="['/car']"
         [routerLinkActive]="['link-active']"
         (click)="collapse()">Cars</a>
      <a mat-button
         *ngIf="canAccessClients"
         [routerLink]="['/client']"
         [routerLinkActive]="['link-active']"
         (click)="collapse()">Clients</a>
      <a mat-button href="/api" target="_blank">API</a>
      <a mat-button href="/Identity/Account/Manage" class="nav-user">
        <mat-icon>person</mat-icon> {{ displayName }}
      </a>
      <a mat-button href="/Identity/Account/Logout">
        <mat-icon>logout</mat-icon> Logout
      </a>
    </nav>

    <nav class="nav-links" [class.expanded]="isExpanded" *ngIf="!isAuthenticated">
      <a mat-button href="/Identity/Account/Login">
        <mat-icon>login</mat-icon> Login
      </a>
      <a mat-stroked-button class="nav-register" href="/Identity/Account/Register">Register</a>
    </nav>
  </mat-toolbar>
</header>
